<!-- NOTE: background image is from Unsplash (copyright-free) -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Tate!Hunt</title>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon" />

    <!-- css file that renders this webpage -->
    <link rel="stylesheet" href="../static/home_page.css" />
  </head>

  <body>
   
      <h1 class="title">· Tate!Hunt ·</h1>
        <div class="intro_box">
            <p class="intro">
              Check out ongoing exhibitions across the entire Tate gallery family!</div>
            </p>

      <!-- a button that jumps to the search page -->
      <a href="search">
        <button type="button" >
            start<br>searching
          </button>
      </a>      
    </body>
</html>
